#ifdef HAS_MOUSE_KEYS
  #include <dt-bindings/zmk/mouse.h>
  #include <behaviors/mouse_keys.dtsi>
#endif


// Below are settings and behavior defines for mouse keys.
&mmv {
  acceleration-exponent = <1>;      // Default: 1
  time-to-max-speed-ms = <300>;    // Default: 300
};

&msc {
  acceleration-exponent = <0>;      // Default: 0
  time-to-max-speed-ms = <300>;    // Default: 300
};
