if SHIELD_ANGLERFISH_RIGHT

config ZMK_KEYBOARD_NAME
  default "AF-TB"

config ZMK_SPLIT_ROLE_CENTRAL
  default y

endif

if SHIELD_ANGLERFISH_LEFT || SHIELD_ANGLERFISH_RIGHT

config ZMK_SPLIT
  default y

endif

config MOUSE_LAYER_INDEX
  int "Index of mouse layer"
  defaut 5

config MOUSE_LAYER_ACTIVE_MS
  int "Amount of milliseconds the mouse layer will be active after using the trackball"
  default 400
