if SHIELD_ANGLERFISH_RIGHT

config ZMK_KEYBOARD_NAME
  default "AF-TB"

config ZMK_SPLIT_ROLE_CENTRAL
  default y

endif

if SHIELD_ANGLERFISH_LEFT || SHIELD_ANGLERFISH_RIGHT

config ZMK_SPLIT
  default y

endif
