config SHIELD_ANGLERFISH
  def_bool $(shields_list_contains,anglerfish)

config SHIELD_ANGLERFISH_LEFT
  def_bool $(shields_list_contains,anglerfish_left)

config SHIELD_ANGLERFISH_RIGHT
  def_bool $(shields_list_contains,anglerfish_right)
